---
const {title} = Astro.props;
const {link} = Astro.props;
const {imageUrl} = Astro.props;
---

<a class="basis-[190px] bg-white rounded-lg flex-initial" href={link}>
    <img class="w-full" src={imageUrl}/>
    <div class="flex flex-row justify-between p-5">
        <p class="">{title}</p>
        <span class='material-symbols-outlined'> arrow_forward</span>
    </div>
</a>
