---
const {name} = Astro.props;
const {description} = Astro.props;
const {review} = Astro.props;
---

<article class="bg-white p-3 shadow-md basis-[350px] flex-auto bg-light-gray">
    <span class="material-symbols-outlined mb-6 text-4xl text-orange-500">
    format_quote
    </span>
    <p class="italic ml-5 mb-7">{review}</p>
    <p class="ml-5 font-semibold">{name}</p>
    {description && <p class="ml-5 ">{description}</p>}
</article>